{% load static %}
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>car rental</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <!-- style css -->
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static 'css/responsive.css' %} ">
      <!-- fevicon -->
      <link rel="icon" href="{% static 'images/fevicon.png' %}" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">

   </head>
  <body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
      <div class="loader"><img src="{% static 'images/loading.gif' %}" alt="#" /></div>
    </div>
    <!-- end loader -->
    <!-- header -->
    <header>
        <!-- header inner -->
        <div class="header">
          <div class="container">
              <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                    <div class="full">
                      <div class="center-desk">
                          <div class="logo">
                            <a href="home_page.html"><img src="{% static 'images/logo.png' %}" alt="#" /></a>
                          </div>
                      </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                    <nav class="navigation navbar navbar-expand-md navbar-dark ">
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarsExample04">
                        
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/customer_portal/index"> Home  </a>
                            </li>
                            {% if  not request.user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#contact">Contact us</a>
                            </li>
                            {% endif %}
                            {% if request.user.is_authenticated  %}
                              <li class="nav-item">
                                <a class="nav-link {% if request.path == '/customer_portal/manage/' %} active {% endif %}" href="/customer_portal/manage/">History</a>
                              </li>
                            {% endif %}
                            {% if request.user.is_authenticated %}
                              <li class="nav-item">
                                <a class="nav-link {% if request.path == '/customer_portal/search/' or request.path == '/customer_portal/search_results/' %} bn active {% endif %}" href="/customer_portal/search/">Vehicles</a>
                              </li>
                            {% endif %}
                        </ul>
                          {% if request.user.is_authenticated %}
                            <div class="sign_btn"><a href="/car_dealer_portal/logout/">Log Out</a></div>
                          {% else %}
                            <div class="sign_btn"><a href="#car">Log in</a></div>
                            <div class="sign_btn"><a href="#car">Sign Up</a></div>
                          {% endif %}
                      </div>
                    </nav>
                </div>
              </div>
          </div>
        </div>
    </header>  
    <section class="banner_main">
      <div class="container">
         <div class="row d_flex">
            <div class="col-md-12">
               <div class="text-bg">
                  <h1>Find best car Here For rent</h1>
                  
                  <a href="#">Read More</a>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- car -->
   <div class="car">
        <div class="container">
          <div class="row">
              <div class="col-md-12">
                <div class="titlepage">
                    <h2>VARIETY OF CARS </h2>
                    <span>Different Types of Car Available</span>
                </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-4 padding_leri">
                <div class="car_box">
                    <figure><img src="{% static 'images/car_img1.png' %} " alt="#" /></figure>
                    <h3>Hundai</h3>
                </div>
              </div>
              <div class="col-md-4 padding_leri">
                <div class="car_box">
                    <figure><img src="{% static 'images/car_img2.png' %}" alt="#" /></figure>
                    <h3>Audi</h3>
                </div>
              </div>
              <div class="col-md-4 padding_leri">
                <div class="car_box">
                    <figure><img src="{% static 'images/car_img3.png' %}" alt="#" /></figure>
                    <h3>Bmw x5</h3>
                </div>
              </div>
          </div>
        </div>
    </div>
    <!-- end car -->
    <div id="car" class="bestCar">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
            </div>
         </div>
         <div class="row">
            <div class="col-sm-12">
               <div class="row">
                  <div class="col-md-6 offset-md-6">
                     <form class="main_form">
                        <div class="titlepage">
                           <h2>Find A Best Car For Rent</h2>
                        </div>
                        <div class="row">
                          <div class="container">
                            <div class="row"> 
                              <div class="col">
                                <a href="/customer_portal/login/" class="btn btn-warning">Customer Login</a>
                              </div>                 
                              <div class="col">
                                <a href="/car_dealer_portal/login/" class="btn btn-warning">Car Dealer Portal Login</a>
                              </div>                             
                            </div>
                          </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- end bestCar -->

        
 <!--  footer -->
 <footer id="contact">
  <div class="footer">
     <div class="container">
        <div class="row">
           <div class="col-md-12">
              <div class="cont_call">
                 <h3> <strong class="multi color_chang"> Call Now</strong><br>
                    (+1) 12345667890
                 </h3>
              </div>
           </div>
        </div>
     </div>
     <div class="copyright">
        <div class="container">
           <div class="row">
              <div class="col-md-12">
                 <p>© 2022 All Rights Reserved.
                 </p>
              </div>
           </div>
        </div>
     </div>
  </div>
</footer>
<!-- end footer -->
   
    <!-- Javascript files-->
    <script src="{% static 'js/jquery.min.js' %} "></script>
    <script src="{% static 'js/popper.min.js' %} "></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %} "></script>
    <script src="{% static 'js/jquery-3.0.0.min.js' %} "></script>
    <script src="{% static 'js/plugin.js' %} "></script>
    <!-- sidebar -->
    <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %} "></script>
    <script src="{% static 'js/custom.js' %} "></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
  </body>
</html>
