{% extends 'car_dealer/base.html' %}
{% block content %}

<div class="container">
  <div>

    <form class="main_form" action="/car_dealer_portal/registration/" method="POST">
      {% csrf_token %}

      <div class="row">
        <div class="col-md-6">
          <lable>First Name</lable>
          <input class="form-control" type="text" name="firstname"><br><br>  
        </div>
  
        <div class="col-md-6">
          <lable>LastName</lable> 
          <input class="form-control" type="text" name="lastname"><br><br>
        </div>
      </div>
      
      
      <div class="row">
        <div class="col-md-6">
          <lable>Username</lable>
          <input class="form-control" type="text" name="username"><br><br>
        </div>
        
        
        <div class="col-md-6">
          <lable>Password</lable> 
          <input class="form-control" type="password" name="password"><br><br>
        </div>
      </div>
      
      
      <div class="row">
        <div class="col-md-6">
          <lable>Email</lable> 
          <input class="form-control" type="text" name="email"><br><br>
        </div>
        
        
        <div class="col-md-6">
          <lable>Mobile</lable>
          <input class="form-control" type="text" name="mobile"><br><br>
        </div>
        
      </div>
      
      <div class="row">
        <div class="col-md-6">
          <lable>City</lable> 
          <input class="form-control" type="text" name="city"><br><br>
        </div>
        
        
        <div class="col-md-6">
          <lable>Pincode</lable> 
          <input class="form-control" type="text" name="pincode"><br><br>
        </div>
      </div>
      
      <div class="text-center">
        <input class="btn btn-success" type="submit"><br><br>
      </div>
    </form>
  </div>
</div>

{% endblock %}
