{% load static %}
<html>
<head>
  <title>Car Rental System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/w3.css' %}">
</head>
<body>
  <div class="w3-container w3-teal">
    <a class="w3-bar-item w3-right w3-btn " href="/customer_portal/login/">Login</a>
    <a class="w3-bar-item w3-right w3-btn " href="/">Home</a>
    <h1 class="w3-center">Car Rental System<h1>
      
  </div>
  {% block content %}
  {% endblock %}

</body>
</html>
