{% extends 'customer/base.html' %}
{% block content %}

{% csrf_token %}

<div class="container text-dark" style="height:400px;">
  <div class="text-center card">
    <h5 class="card-title">Order Completed</h5>
      <div class="card-body">
        Your vehicle order was successful !<br><br>
        total rent : {{order.rent}} Rs.<br><br>
        vehicle : {{order.vehicle.car_name}}<br><br>
        duration : {{order.days}} days<br><br>
        car-dealer : {{order.car_dealer.car_dealer.first_name}} {{order.car_dealer.car_dealer.last_name}}<br><br>
        car-dealer contact no: {{order.car_dealer.mobile}}<br><br>
    
      </div>
    </div>
</div>
{% endblock %}
